#main-body {
    margin: 0;
    padding: 0;
    top: 0;
}

.header {
    height: 20vh;
}

.default-width-btn {
    min-width: 250px;
    padding: 1rem 4rem;
}

.main-footer {
    height: 10vh;
}

.hero-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 2rem;
}

.hero_title {
    margin-top: 2rem;
}

.table_row {
    margin-top: 2rem;
}

#table_article {
    margin-bottom: 10rem;
}