#main-body {
    margin: 0;
    padding: 0;
    top: 0;
}

.header {
    height: 20vh;
}

.default-width-btn {
    min-width: 250px;
    padding: 1rem 4rem;
}

.main-footer {
    height: 10vh;
}

.hero-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 2rem;
}

.hero_title {
    margin-top: 2rem;
}

.table_row {
    margin-top: 2rem;
}

#table_article {
    margin-bottom: 10rem;
}

.image {
    width: 600px;
    text-align: center;
    transition: all .4s ease-in-out;
}

.hero-image {
    transition: all .4s ease-in-out;
}

.hero-image:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 12px rgba(255, 255, 255, .2);
    cursor: pointer;
}

.image-header {
    text-align: center;
}

#marvel_table {
    min-width: 950px;
    color: white;
    border-radius: 12px;
    box-shadow: 0 12px 36px rgba(0, 0, 0, .4);
}

.table-data {
    width: 200px;
}

.table-header {
    padding-top: 2rem;
}

.table-header:first-child {
    padding-left: 2rem;
}

.title_data {
    padding-left: 2rem;
}